.game {
  &__action {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    > button {
      padding: 15px 80px;
      font-size: 1.5em;
      background: gray;
      border: 6px solid gray;
      border-radius: 10px;
      outline: none;
      color: white;
      cursor: pointer;
      transition: transform 0.2s;

      &:hover {
        background: darkblue;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}
