.game {
  &__board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 600px;
    height: 600px;
    background-color: gray;
    color: white;
    border: 6px solid gray;
    border-radius: 10px;
  }
}
